<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computeca</title>
    <link rel="stylesheet" href="./../../public/stylesheets/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Signika:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../../stylesheets/fonts.css">
</head>

<body>
    <header>
        <div class="holder">
            <img src="/images/fondo.jpeg" alt="image not found.">
            <h1>Computeca</h1>
        </div>
    </header>
    {{{body}}} <!-- no entiendo como toma login.hbs con esto-->
    <main class="holder">
    </main>
    <footer>
        <p>Diseñado por Facundo B.</p>
    </footer>
</body>

</html>